.modal{
	width: 200px;
	height: 200px;
	background-color: rgb(78, 162, 99);
	border: 1px solid transparent;
	border-radius: 5px;
	position: relative;
	bottom: 300px;
	left: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	button{
		position: absolute;
		bottom: 180px;
		left: 180px;
	}
}